<div>
<!-- 	<h1>Home.html</h1>
	<button ng-click="testMsg()">Test button</button> -->

	<h2>AMA - API AI</h2>
	<h4>Ask me anything!</h4>
	<input type="text" ng-model="askTheAi.userQuery">
	<input class="btn" type="submit" ng-click="sendUserQuery()" value="Submit yoru question!">

	<br></br>
	<h2>AI responds:</h2>
	<!-- <div ng-repeat="aiResponse in aiResponses"> -->
		<p><span ng-bind="aiResponses.html"></span></p>
		<p><span ng-bind="aiResponses.speech"></span></p>
		<p><span ng-bind="aiResponses.result"></span></p>
	<!-- </div> -->

</div>